@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(10, 10, 41);
  padding: 50px 0;
}

ul {
  list-style-type: none;
}

li {
  margin: 30px 0;
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  color: lightblue;
}

a {
  color: inherit;
}

form {
  margin: 100px 100px;
  padding: 40px;
  width: 100%;
  max-width: 550px;
  background-color: white;
}

input {
  margin: 0 15px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid lightgrey;
  outline: none;
}

input[type=submit] {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(10, 10, 27);
  color: aliceblue;
  cursor: pointer;
}

input:focus {
  outline: none;
}

h1 {
  font-size: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 200;
  font-size: 54px;

}

.btt {
  margin: 10px;
  cursor: pointer;
}

.btt:focus {     
  background-color:yellow;
}

.span {
  background-image: linear-gradient(135deg, rgb(203, 126, 19), rgb(233, 94, 79));
}
